name: CI
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            java: 8
            distribution: temurin
            jobtype: 1
          - os: ubuntu-latest
            java: 8
            distribution: temurin
            jobtype: 2
    runs-on: ${{ matrix.os }}
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Dfile.encoding=UTF-8
      JVM_OPTS:  -Dfile.encoding=UTF-8
    steps:
      - uses: actions/checkout@v3
      - name: Set up JVM
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'sbt'
      - name: Build and test (Scala 2.12.*)
        if: ${{ matrix.jobtype == 1 }}
        shell: bash
        run: sbt -v clean ++2.12.* scripted
      - name: Build and test (Scala 2.10.*)
        if: ${{ matrix.jobtype == 2 }}
        shell: bash
        run: sbt -v clean ++2.10.* scripted
